@import-normalize; /* bring in normalize.css styles */

@import url("../src/assets/fonts/fonts.css");

:root {
  --primary-white-color: #ffffff;

  --primary-black-color: #121417;
  --secondary-black-color: #363535;

  --primary-grey-color: #8a8a89;
  --secondary-grey-color: #f7f7fb;
  --alternative-grey-color: rgba(18, 20, 23, 0.5);

  --accent-color: #3470ff;
  --accent-hover-color: #0b44cd;

  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;

  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;

  background-color: var(--primary-white-color);
  color: var(--primary-black-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}
